<div class="jsItem_box" id="jsItem_box">
    <div class="jsItem_box_wrap" id="jsItem_box_wrap">
        <div class="search_content">
            <div class="search_content_center">
                <input type="search " class="search" id="search" placeholder="Search">
                <button class="btn_search" id="btn_search">Search</button>
            </div>
        </div>

        <div class="option_content">
            <div class="btn_option_box">
                <div class="btn_option" id="getAll">All</div>
            </div>
            <div class="btn_option_box">
                <div class="btn_option" id="getMen">MAN</div>
            </div>
            <div class="btn_option_box">
                <div class="btn_option" id="getWomen">WOMAN</div>
            </div>
            <div class="btn_option_box">
                <div class="btn_option" id="getChildren">CHILDREN</div>
            </div>

        </div>

        <div class="range_content" id="range_content">
            {{#if products.length}}
                <div class="range_content_box" id="range_content_box">

<!--                    {{#each products}}-->
<!--                        <div class="box_shoe" style="background-image: url('css/images/{{imgUrl}}')">-->
<!--                            <p class="main_coast_shoe">${{price}}</p>-->
<!--                            {{#if priceDown}}-->
<!--                                <p class="down_coast_shoe">${{priceDown}}</p>-->
<!--                            {{/if}}-->
<!--                            <p class="sex_box_shoe">{{sex}}</p>-->
<!--                            <h5 class="name_box_shoe">{{title}}</h5>-->
<!--                            {{#if boxSale}}-->
<!--                                <div class="boxSale">{{boxSale}}%</div>-->
<!--                            {{/if}}-->
<!--                            <div class="show_more">-->
<!--                                <a href="/products/{{id}}" style="color: white">Open the course</a>-->
<!--                                &lt;!&ndash;                                <form action="/card/add" method="POST">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <input type="hidden"  name="id" value="{{id}}" >&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <button type="submit" class="btn btn-primary">Byu</button>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </form>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    {{/each}}-->

                </div>
                <div class="pag_box" id="pag_box"></div>
            {{else}}
                <p>Nothing to show</p>
            {{/if}}
            <!--            <p class="amountItem" id="amountItem"></p>-->
            <!--            <div class="range_content_box" id="range_content_box"></div>-->
            <!--            <div class="pag_box" id="pag_box"></div>-->
        </div>

    </div>
</div>

