<div class="product_box">
    <div class="product_box_img">
        <div class="product_slider">
            <div class="box_img_product" style="background-image: url('/img/{{product.imgUrl}}')"></div>
            <div class="box_img_product" style="background-image: url('/img/{{product.imgUrl}}')"></div>
            <div class="box_img_product" style="background-image: url('/img/{{product.imgUrl}}')"></div>
        </div>
    </div>

    <div class="product_box_desc">
        <h1 class="product_title">TITLE: <span>{{product.title}}</span></h1>
        <h1 class="product_title">GANDER: <span>{{product.sex}}</span></h1>
        <h1 class="product_title">SIZE: <span>{{product.size}}</span></h1>
        <h1 class="product_title">DESCRIPTION:
            <p style="margin-top: 1%" class="product_title">
                <span>{{product.desc}}</span>
            </p>
        </h1>
        <div class="new_price prod-currency" id="new_price">{{product.price}}</div>
        {{#if product.startPrice}}
            <div class="price_before prod-currency" id="price_before">{{product.startPrice}}</div>
            <div class="boxSale" id="product_percent">{{product.boxSale}}</div>
        {{/if}}


        <form action="/cart/add" method="post">
            <input type="hidden" name="id" value="{{product._id}}">
            <button type="submit" class="btn-buy btn btn-primary">Byu</button>
        </form>
        <div class="clearfix"></div>

        <div class="btn-buy btn_edit" id="btn_edit">
            <div class="link_cover" id="link_cover"></div>
            <a class="link_edit " href="/products/{{product._id}}/edit?allow=true">Edit</a>
        </div>
        <div class="clearfix"></div>

        <div class="btn-buy btn-remove_box" id="btn_edit">
            <form action="/products/remove" method="post">
                <input type="hidden" name="id" value={{product._id}}>
                <button class="btn-buy btn-remove" id="btn-remove">Remove</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer_row_one">
        <div class="footer_row_one_item footer_item_1">
            <p>Free Shipping <br> in Europe</p>
        </div>
        <div class="footer_row_one_item footer_item_2">
            <p>Money Back <br> Guarantee</p>
        </div>
        <div class="footer_row_one_item footer_item_3">
            <p>24/7 Customer <br> Support</p>
        </div>
        <div class="footer_row_one_item footer_item_4">
            <p>Lowest Prices <br> Guaranteed</p>
        </div>
        <div class="footer_row_one_item footer_item_5">
            <p>Exclusive Items <br> for Sportshold</p>
        </div>
        <div class="footer_row_one_item footer_item_6">
            <p>5-Day Delivery <br> in Europe</p>
        </div>
    </div>

    <div class="footer_row_two">
        <div class="footer_row_two_left">
            <div class="footer_row_two_left footer_row_two_left_item_1">
                <div class="footer_row_two_left_box"><i class="footer_icon fas fa-phone-volume"></i></div>
                <p class="footer_row_two_left_text_top">CALLS</p>
                <p class="footer_row_two_left_text_bottom"><a href="#"></a>
                    <div class="number_box">
                <p class="number">0</p>
                <p class="number">6</p>
                <p class="number">3</p>
                <p class="number">4</p>
                <p class="number">6</p>
                <p class="number">1</p>
                <p class="number">3</p>
                <p class="number">5</p>
                <p class="number">2</p>
                <p class="number">2</p>
            </div>
            </p>
        </div>

        <div class="footer_row_two_left footer_row_two_left_item_2">
            <div class="footer_row_two_left_box footer_left_box_second"><i class="far fa-envelope"></i></div>
            <p class="footer_row_two_left_text_top">EMAIL US</p>
            <p class="footer_row_two_left_text_bottom footer_row_two_left_text_bottom_midle">
                <div class="number_box number_midle">
            <p class="number">m</p>
            <p class="number">a</p>
            <p class="number">k</p>
            <p class="number mail_4">a</p>
            <p class="number">r</p>
            <p class="number">o</p>
            <p class="number mail_7">v</p>
            <p class="number">d</p>
            <p class="number mail_9">e</p>
            <p class="number">n</p>
            <p class="number">y</p>
            <p class="number">s</p>
            <p class="number">1</p>
            <p class="number">9</p>
            <p class="number">8</p>
            <p class="number">5</p>
            <p class="number">@</p>
            <p class="number">g</p>
            <p class="number">m</p>
            <p class="number">a</p>
            <p class="number">i</p>
            <p class="number">l</p>
            <p class="number">.</p>
            <p class="number">c</p>
            <p class="number">o</p>
            <p class="number">m</p>
        </div>
        </p>
    </div>

    <div class="footer_row_two_left footer_row_two_left_item_3">
        <div class="footer_row_two_left_box footer_left_box_third"><i class="far fa-map"></i></div>
        <p class="footer_row_two_left_text_top">ADDRESS</p>
        <p class="footer_row_two_left_text_bottom"><a href="#"></a>
            <div class="number_box">
        <p class="number">4</p>
        <p class="number">0</p>
        <p class="number mail_3">B</p>
        <p class="number mail_4">a</p>
        <p class="number">r</p>
        <p class="number">i</p>
        <p class="number mail_7">a</p>
        <p class="number mail_8">S</p>
        <p class="number mail_9">t</p>
        <p class="number">r</p>
        <p class="number">e</p>
        <p class="number">e</p>
        <p class="number">t</p>
        <p class="number mail_14">1</p>
        <p class="number">3</p>
        <p class="number">3</p>
        <p class="number">/</p>
        <p class="number">2</p>
        <p class="number">,</p>
        <p class="number mail_20">N</p>
        <p class="number">Y</p>
        <p class="number">,</p>
        <p class="number mail_23">U</p>
        <p class="number">S</p>
    </div>
    </p>
    </div>
    </div>


    <div class="footer_row_two_right_col_hidden"></div>

    <div class="footer_row_two_right">
        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">NAVIGATION
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Latest News</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Brands</a></li>
            </ul>
        </div>


        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">CATEGORIES
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Baby</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
        </div>

        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">SALES
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Most Popular</a></li>
                <li><a href="#">Tpo Picks</a></li>
                <li><a href="#">Outlet</a></li>
            </ul>
        </div>

        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">SUPPORT
                <li><a href="#">Shipping & Delivery</a></li>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Terms & Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    </div>

    <div class="underfooter">
        <div class="underfooter_left"></div>
        <div class="underfooter_center">© 2020 Sportshold. Made by Makarov Denis.</div>
        <div class="underfooter_right">
            <ul class="icons">
                <li class="icon icon_1"><i class="fab fa-twitter fa-2x"></i></li>
                <li class="icon icon_2"><i class="fab fa-facebook-f fa-2x"></i></li>
                <li class="icon icon_3"><i class="fab fa-pinterest fa-2x"></i></li>
                <li class="icon icon_4"><i class="fab fa-youtube fa-2x"></i></li>
            </ul>
        </div>
    </div>
</footer>

<script>

    const percentBox = document.getElementById("product_percent")
    const priceBefore =  document.getElementById("price_before")
    const percentSale = countPercent({{product.startPrice}}, {{product.price}})

    if (percentSale !== Infinity) {
        percentBox.innerText = `- ${percentSale}%`
    }
    function countPercent(priceBefore, newPrice) {
        let count = Math.ceil(newPrice * 100 / priceBefore);
        return +count
    }
    const btnEdit = document.getElementById("link_cover").style.display = "none"

</script>
